section {
  margin: 100px 0;
}

.gc {
  height: 300px;
  width: 300px;
  margin: 0 10px;
}

.gc img {
  max-height: 200px;
  max-width: 200px;
  margin: 50px;
  width: 100%;
}

.team {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.team h3 {
  font-size: ;
}

.member {
  padding: 5px;
}

.member img {
  border-radius: 50%;
}

.member-detail {
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 1px 1px 15px #c2c2c2;
}

.member-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.member-pic img {
  border-radius: 50%;
}

.member-description {
  padding: 50px;
}

.member-description li {
  margin-left: 0;
}
