section {
  margin: 200px 0;
}

.gc {
  height: 300px;
  width: 300px;
  margin: 0 10px;
}

.gc img {
  max-height: 200px;
  max-width: 200px;
  margin: 50px;
  width: 100%;
}

.team {
  margin: 20px 20%;
  padding: 50px;
  border: 1px skyblue solid;
  border-radius: 3px;
}
